/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
	width: 100%;
	display: block;
}

body {
	background-color: rgb(250, 250, 250); 
	color: rgb(52, 52, 52);  
	line-height: 140%; 	
	font-family: sans-serif;
}

h1 {
	background-color: rgb(153, 153, 166);
	color: rgb(250, 250, 250); 
	font-size: 2.5em;
	padding: 1em 2rem 1em; 
	font-weight: bold;
	text-transform: uppercase;
}


h2 {
	background-color: rgb(153, 153, 166);
	color: rgb(250, 250, 250);
	font-size: 2em;
	padding: 0em 2rem .5em;
	font-family: serif;
	font-weight: bold;
}

h3 {
	margin: 3em 2rem 1.5em; 
	padding-top: 0.5em;
	font-size: 1.25em;
	color: rgb(159, 56, 45);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em; 
	border-top: 3px solid rgb(159, 56, 45);
}

h4 {
	font-weight: bold;
}

p.description {
	font-style: italic;
}

p.price {
	color: rgb(159, 56, 45);
}

ul {
	margin: 1em 1rem 1em;
}

li { 
	margin: 1em 1em;
	list-style-type: none;
}
